<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>TODOリスト</title>
</head>
<body>
<h1>TODOリスト</h1>
<p>今日は {{ today }} です。</p>

{% if todo_list %}
<table>
  <thead>
  <tr>
    <th>タイトル</th>
    <th>期限日</th>
  </tr>
  </thead>
  <tbody>
  {% for todo in todo_list %}
  <tr>
    <td width="60%">{{ todo.title }}</td>
    <td>
      <span {% if today > todo.expiration_date %}style="color:red;"{% endif %}>
      {{ todo.expiration_date|default_if_none:"なし" }}
      </span>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
TODOリストがありません。
{% endif %}
</body>
</html>